.btn{
    display: inline-block;
    position: relative;
    width: 120px;
    height: 32px;
    line-height: 32px;
    border-radius: 2px;
    font-size: 0.9em;
    background-color: #CCC;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
}
.btn:active {
    /*transition: box-shadow 0.2s cubic-bezier(0, 0, 1, 1);*/
    /*transition-delay: 0.2s;*/
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
