.blue{
    background-color: #2196F3 !important;
}

.light-blue{
    background-color: #64B5F6 !important;
}

.grey{
    background-color: #212121 !important;
}

.green {
  background-color: #0f9d58 !important;
}